<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>データ一覧</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='base-style.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <h1>index</h1>
    <ul>
      <li>
        <a href="{{ url_for('challenger.list') }}">チャレンジャーリスト</a>
      </li>
      <li><a href="{{ url_for('song.list') }}">ソングリスト</a></li>
      <li><a href="{{ url_for('score.list') }}">スコアリスト</a></li>
    </ul>

    {%include "./components/score_ranking.html"%}
    {%include"./components/age_group_chart.html"%}
    {%include"./components/song_counts_chart.html"%}
  </body>
</html>
